*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*<!--font font-family: ; */
}
.nav_bar{
    background-color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav_bar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#nav_bar_logo{
    background-color: #ff8177
}