*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*<!--font font-family: ; */
}
.nav_bar{
    background-color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav_bar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#nav_bar_logo{
    background-color: #dabfbd;

}
.fa_gem{

}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar_link{
    color: #0b0000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_link:hover{
    color: #d34141;
    transition: all 0.3s ease;

}
#mobile_menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}

/*
slide show style
*/
.slideshow_container{
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    margin:auto;
}
/*Slide show container*/
.sliding_image_section{
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    margin: auto;
    align-content: center;
}
/* Hide images by default*/
.my_slides{
    display: none;
}
/*Next and previous buttons*/
.prev, .next{
    cursor: poinert;
    position: absolute;

}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.slide_text{
    color: #0b0000;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media screen and (max-width: 960px) {
    .nav_bar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0;
        z-index: 1;
        max-width: 1300px;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: -1000px;
        opacity: 1;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
        color: #ffff;
        background-color: rgb(89, 171, 244);
    }
    .navbar_menu:active{
        background-color: rgb(89, 171, 244);
        top:100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index:99;
        height: 50vh;
        font-size: 1.6rem;
    }

    /* push nav bar logo to the lesft*/
    .nav_bar_toggle{
        width: 25px;
        height: 25px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #ffff;
    }
    .navbar_item{
        width:100px;
    }
    .navbar_link{
        text-align:center;
        padding: 2rem;
        color: #ffff;
        width: 100px;
        display: table;
    }
    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .nav_bar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile_menu:is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile_menu:is-active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu:is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}